{% block content %}

    <h3 class="about">Welcome to our Analysis Page!</h3>
    <p>
	
	Here you will find our interactive charts (visualisation tools) useful for analysing the current Brisbane IT job market. In the current version of the website, 3 charts are provided: <strong>Brisbane IT Jobs (Line Chart)</strong>, <strong>Jobs Major Breakdown (Pie Chart)</strong> and <strong>Skills Demand (Bar Chart)</strong>. Please visit their respective pages for more details on how to use them.
	<br><br>
	
	<strong>IT Skills Provided by QUT vs Skills Demand on Brisbane IT Job Market</strong><br style="line-height: 30px">
	
	The purpose of the analysis is to find out how well QUT covers the necessary skills demanded by the IT Job market within Brisbane and provide recommendations on how QUT could improve its units/courses based on the findings. Information regarding all the IT jobs provided in Brisbane were scraped, analysed and grouped into individual 'skills' and compared with the 'skills' taught by QUT.
	<br><br>
	Tool Used: Nvivo, a qualitative data analysis computer software package.
	<br><br>
	
	<strong>EXTRA: Computer Science Vs. Information Systems (Information Extracted From QUT Course Page)</strong><br style="line-height: 30px">
	
	At QUT, Information Technology students are given the option to choose from two of the available majors: <strong>Computer Science</strong> and <strong>Information Systems</strong>.
	<br><br>
	<strong>Computer Science</strong> is the scientific and practical approach to computer-based system design, development and operation. It deals with areas ranging from the fundamental principles of computation through to tools and techniques for IT system development and evaluation, including identifying and solving systems design issues associated with efficiency, usability and security. Computer science applications extend into specialised areas including mobile computing, artificial intelligence, robotics, and large-scale information management involving information retrieval and web search engines. For more information regarding computer science, pleae visit <a href="https://www.qut.edu.au/study/courses/bachelor-of-information-technology/bachelor-of-information-technology-computer-science">https://www.qut.edu.au/study/courses/bachelor-of-information-technology/bachelor-of-information-technology-computer-science.</a>
	<br><br>
	<strong>Information Systems</strong> focuses on identifying organisational requirements for applications and acquiring effective systems solutions, whether custom designed and built or selected and implemented, to meet the requirements. Skills involve the design, development and maintenance of large database applications for business, as well as the identification, purchase and implementation of packaged software addressing business problems. It does not require in-depth knowledge of computer programming but rather in-depth specialised knowledge of databases and software used in business. For more information regarding information systems, please visit <a href="https://www.qut.edu.au/study/courses/bachelor-of-information-technology/bachelor-of-information-technology-information-systems">https://www.qut.edu.au/study/courses/bachelor-of-information-technology/bachelor-of-information-technology-information-systems.</a>
	</p>

{% endblock %}	