{% block content %}
<div id="alphabetical_dropdown" class="collapse">
	<div style="overflow: auto; margin-top: 10px;">
		<div style="width: 30%; float:left;">
		<li><a href="/employer_search/a/" class="employer_filter_a" style="font-size: 12px">- A</a></li>
		<li><a href="/employer_search/b/" class="employer_filter_b" style="font-size: 12px">- B</a></li>
		<li><a href="/employer_search/c/" class="employer_filter_c" style="font-size: 12px">- C</a></li>
		<li><a href="/employer_search/d/" class="employer_filter_d" style="font-size: 12px">- D</a></li>
		<li><a href="/employer_search/e/" class="employer_filter_e" style="font-size: 12px">- E</a></li>
		<li><a href="/employer_search/f/" class="employer_filter_f" style="font-size: 12px">- F</a></li>
		<li><a href="/employer_search/g/" class="employer_filter_g" style="font-size: 12px">- G</a></li>
		<li><a href="/employer_search/h/" class="employer_filter_h" style="font-size: 12px">- H</a></li>
		<li><a href="/employer_search/i/" class="employer_filter_i" style="font-size: 12px">- I</a></li>
		<li><a href="/employer_search/j/" class="employer_filter_j" style="font-size: 12px">- J</a></li>
		<li><a href="/employer_search/k/" class="employer_filter_k" style="font-size: 12px">- K</a></li>
		<li><a href="/employer_search/l/" class="employer_filter_l" style="font-size: 12px">- L</a></li>
		<li><a href="/employer_search/m/" class="employer_filter_m" style="font-size: 12px">- M</a></li>
		</div>
		<div style="width: 30%; float:left; margin-left: 16px;">
		<li><a href="/employer_search/n/" class="employer_filter_n" style="font-size: 12px">- N</a></li>
		<li><a href="/employer_search/o/" class="employer_filter_o" style="font-size: 12px">- O</a></li>
		<li><a href="/employer_search/p/" class="employer_filter_p" style="font-size: 12px">- P</a></li>
		<li><a href="/employer_search/q/" class="employer_filter_q" style="font-size: 12px">- Q</a></li>
		<li><a href="/employer_search/r/" class="employer_filter_r" style="font-size: 12px">- R</a></li>
		<li><a href="/employer_search/s/" class="employer_filter_s" style="font-size: 12px">- S</a></li>
		<li><a href="/employer_search/t/" class="employer_filter_t" style="font-size: 12px">- T</a></li>
		<li><a href="/employer_search/u/" class="employer_filter_u" style="font-size: 12px">- U</a></li>
		<li><a href="/employer_search/v/" class="employer_filter_v" style="font-size: 12px">- V</a></li>
		<li><a href="/employer_search/w/" class="employer_filter_w" style="font-size: 12px">- W</a></li>
		<li><a href="/employer_search/x/" class="employer_filter_x" style="font-size: 12px">- X</a></li>
		<li><a href="/employer_search/y/" class="employer_filter_y" style="font-size: 12px">- Y</a></li>
		<li><a href="/employer_search/z/" class="employer_filter_z" style="font-size: 12px">- Z</a></li>
		</div>
	</div>
</div>

{% endblock %}	