{% block content %}

<div id="alphabetical_dropdown" class="collapse">
			<div style="height: 250px; overflow: auto; width: 295px; margin-top: 10px;">
			<div style="width: 30%; float:left;">
			<li><a href="/employer_search/employer_search_a/" class="employer_filter">- A</a></li>
			<li><a href="/employer_search/employer_search_b/" class="employer_filter">- B</a></li>
			<li><a href="/employer_search/employer_search_d/" class="employer_filter">- C</a></li>
			<li><a href="/employer_search/employer_search_d/" class="employer_filter">- D</a></li>
			<li><a href="/employer_search/employer_search_e/" class="employer_filter">- E</a></li>
			<li><a href="/employer_search/employer_search_f/" class="employer_filter">- F</a></li>
			<li><a href="/employer_search/employer_search_g/" class="employer_filter">- G</a></li>
			<li><a href="/employer_search/employer_search_h/" class="employer_filter">- H</a></li>
			<li><a href="/employer_search/employer_search_i/" class="employer_filter">- I</a></li>
			<li><a href="/employer_search/employer_search_j/" class="employer_filter">- J</a></li>
			<li><a href="/employer_search/employer_search_k/" class="employer_filter">- K</a></li>
			<li><a href="/employer_search/employer_search_l/" class="employer_filter">- L</a></li>
			<li><a href="/employer_search/employer_search_m/" class="employer_filter">- M</a></li>
			</div>
			<div style="width: 30%; float:left; margin-left: 16px;">
			<li><a href="/employer_search/employer_search_n/" class="employer_filter">- N</a></li>
			<li><a href="/employer_search/employer_search_o/" class="employer_filter">- O</a></li>
			<li><a href="/employer_search/employer_search_p/" class="employer_filter">- P</a></li>
			<li><a href="/employer_search/employer_search_q/" class="employer_filter">- Q</a></li>
			<li><a href="/employer_search/employer_search_r/" class="employer_filter">- R</a></li>
			<li><a href="/employer_search/employer_search_s/" class="employer_filter">- S</a></li>
			<li><a href="/employer_search/employer_search_t/" class="employer_filter">- T</a></li>
			<li><a href="/employer_search/employer_search_u/" class="employer_filter">- U</a></li>
			<li><a href="/employer_search/employer_search_v/" class="employer_filter">- V</a></li>
			<li><a href="/employer_search/employer_search_w/" class="employer_filter">- W</a></li>
			<li><a href="/employer_search/employer_search_x/" class="employer_filter">- X</a></li>
			<li><a href="/employer_search/employer_search_y/" class="employer_filter">- Y</a></li>
			<li><a href="/employer_search/employer_search_z/" class="employer_filter">- Z</a></li>
			</div>
			</div>
			</div>
			</div>

{% endblock %}	