{% block content %}

<div id="alphabetical_dropdown" class="collapse">
	<div style="height: 250px; overflow: auto; width: 295px; margin-top: 10px;">
		<div style="width: 30%; float:left;">
		<li><a href="/employer_search/a/" class="employer_filter">- A</a></li>
		<li><a href="/employer_search/b/" class="employer_filter">- B</a></li>
		<li><a href="/employer_search/c/" class="employer_filter">- C</a></li>
		<li><a href="/employer_search/d/" class="employer_filter">- D</a></li>
		<li><a href="/employer_search/e/" class="employer_filter">- E</a></li>
		<li><a href="/employer_search/f/" class="employer_filter">- F</a></li>
		<li><a href="/employer_search/g/" class="employer_filter">- G</a></li>
		<li><a href="/employer_search/h/" class="employer_filter">- H</a></li>
		<li><a href="/employer_search/i/" class="employer_filter">- I</a></li>
		<li><a href="/employer_search/j/" class="employer_filter">- J</a></li>
		<li><a href="/employer_search/k/" class="employer_filter">- K</a></li>
		<li><a href="/employer_search/l/" class="employer_filter">- L</a></li>
		<li><a href="/employer_search/m/" class="employer_filter">- M</a></li>
		</div>
		<div style="width: 30%; float:left; margin-left: 16px;">
		<li><a href="/employer_search/n/" class="employer_filter">- N</a></li>
		<li><a href="/employer_search/o/" class="employer_filter">- O</a></li>
		<li><a href="/employer_search/p/" class="employer_filter">- P</a></li>
		<li><a href="/employer_search/q/" class="employer_filter">- Q</a></li>
		<li><a href="/employer_search/r/" class="employer_filter">- R</a></li>
		<li><a href="/employer_search/s/" class="employer_filter">- S</a></li>
		<li><a href="/employer_search/t/" class="employer_filter">- T</a></li>
		<li><a href="/employer_search/u/" class="employer_filter">- U</a></li>
		<li><a href="/employer_search/v/" class="employer_filter">- V</a></li>
		<li><a href="/employer_search/w/" class="employer_filter">- W</a></li>
		<li><a href="/employer_search/x/" class="employer_filter">- X</a></li>
		<li><a href="/employer_search/y/" class="employer_filter">- Y</a></li>
		<li><a href="/employer_search/z/" class="employer_filter">- Z</a></li>
		</div>
	</div>
</div>

{% endblock %}	