{% block content %}

<div class="collapse" id="categories_dropdowndiv" style="height: 19vh;">
<div style="position: static;">

<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/unfiltered/" class="filter_major">- Unfiltered Search</a></li> 

<br>

<p style="color: white; font-weight: bold; margin-left: 2vw; font-size: 1.7vh;">QUT IT Majors</p>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/informationsystems_major/" class="filter_major">- Information Systems</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/computerscience_major/" class="filter_major">- Computer Science</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/computationalandsimsci_major/" class="filter_major">- Computational and Sim Sci</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/technologyinnovationanddesign_major/" class="filter_major">- Technology Inn. and Design</a></li>

<br>

<p style="color: white; font-weight: bold; margin-left: 2vw; font-size: 1.7vh;">QUT IT Minors</p><br>
<div style="height: 13vh; overflow: auto; min-width: 240px; width: 15.5vw;">

<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/bpm/" class="filter_major">- BPM</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/computationalandsimsci/" class="filter_major">- Computational and Sim Sci</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/computerscience_minor/" class="filter_major">- Computer Science</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/datacentriccomputingextension/" class="filter_major">- Data-Centric Computing</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/enterprisesystems/" class="filter_major">- Enterprise Systems</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/intelligentsystems/" class="filter_major">- Intelligient Systems</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/mobileapps/" class="filter_major">- Mobile Apps</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/networkandsecurity/" class="filter_major">- Network and Security</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/softwaredevelopmentforis/" class="filter_major">- Software Devlopment for IS</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/technologyinnovation/" class="filter_major">- Technology Innovation</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/userexperience/" class="filter_major">- User Experience</a></li>

</div>
<br>

<p style="color: white; font-weight: bold; margin-left: 2vw; font-size: 1.7vh;">QUT IT Units/Skillset</p><br>
<div style="height: 13vh; overflow: auto; min-width: 240px; width: 15.5vw;">
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/analysis_skill/" class="filter_major">- Analysis</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/artificialintelligience_skill/" class="filter_major">- Artificial Intelligience</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/cloudcomputing_skill/" class="filter_major">- Cloud Computing</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/database_skill/" class="filter_major">- Database</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/design_skill/" class="filter_major">- Design</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/enterprisearchitecture_skill/" class="filter_major">- Enterprise Architecture</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/gamesdevelopment_skill/" class="filter_major">- Games Development</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/hardware_skill/" class="filter_major">- Hardware</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/itconsulting_skill/" class="filter_major">- IT Consulting</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/itfundamentals_skill/" class="filter_major">- IT Fundamentals</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/modelling_skill/" class="filter_major">- Modelling</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/networking_skill/" class="filter_major">- Networking</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/programming_skill/" class="filter_major">- Programming</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/projectmanagement_skill/" class="filter_major">- Project Management</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/security_skill/" class="filter_major">- Security</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/socialmedia_skill/" class="filter_major">- Social Media</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/systemadministration_skill/" class="filter_major">- System Administration</a></li>
<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/webdevelopment_skill/" class="filter_major">- Web Development</a></li>

</div>
</div>
</div>

{% endblock %}	