{% block content %}
			<div class="collapse" id="categories_dropdowndiv" style="height: 19vh;">
			<div style="position: static;">
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/" class="filter_major">- Unfiltered Search</a></li> <br>
			
			<p style="color: white; font-weight: bold; margin-left: 2vw; font-size: 1.7vh;">QUT IT Majors</p>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_informationsystems/" class="filter_major">- Information Systems</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_ComputerScience/" class="filter_major">- Computer Science</a></li>
			
		<br>
			
			<p style="color: white; font-weight: bold; margin-left: 2vw; font-size: 1.7vh;">QUT IT Minors</p><br>
			<div style="height: 13vh; overflow: auto; min-width: 240px; width: 15.5vw;">
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_BPM/" class="filter_major">- BPM</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_ComputerScienceMNR/" class="filter_major">- Computer Science</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_ComputerandSimSci/" class="filter_major">- Computer and Sim Sci</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_EnterpriseSystems/" class="filter_major">- Enterprise Systems</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_IntelligientSystems/" class="filter_major">- Intelligient Systems</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_MobileApps/" class="filter_major">- Mobile Apps</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_SocialTechnology/" class="filter_major">- Sccial Technology</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_SoftwareDevelopmentforIS/" class="filter_major">- Software Devlopment for IS</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_TechnologyInnovation/" class="filter_major">- Technology Innovation</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_UserExperience/" class="filter_major">- User Experience</a></li>
			
			
			
		
			</div>
			<br>
			
			<p style="color: white; font-weight: bold; margin-left: 2vw; font-size: 1.7vh;">QUT IT Units/Skillset</p><br>
			<div style="height: 13vh; overflow: auto; min-width: 240px; width: 15.5vw;">
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_ArtificialIntelligience/" class="filter_major">- Artificial Intelligience</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_Analysis/" class="filter_major">- Analysis</a></li>
			
		    <li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_CloudComputing/" class="filter_major">- Cloud Computing</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_Database/" class="filter_major">- Database</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_Design/" class="filter_major">- Design</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_EnterpriseArchitecture/" class="filter_major">- Enterprise Architecture</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_System Administration/" class="filter_major">- System Administration</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_Games/" class="filter_major">- Games</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_Hardware/" class="filter_major">- Hardware</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_ITConsulting/" class="filter_major">- IT Consulting</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_ITFundamentals/" class="filter_major">- IT Fundamentals</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_Modelling/" class="filter_major">- Modelling</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_Networking/" class="filter_major">- Networking</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_Programming/" class="filter_major">- Programming</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_ProjectManagement/" class="filter_major">- Project Management</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_Security/" class="filter_major">- Security</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_SocialMedia/" class="filter_major">- Social Media</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_WebDevelopment/" class="filter_major">- Web Development</a></li>
			
			</div>
			
			</div>
			
			</div>
			

{% endblock %}	