{% block content %}
			<div class="collapse" id="categories_dropdowndiv" style="height: 19vh;">
			<div style="position: static;">
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search/" class="filter_major">- Unfiltered Search</a></li> <br>
			
			<p style="color: white; font-weight: bold; margin-left: 2vw; font-size: 1.7vh;">QUT IT Majors</p>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_informationsystems_major/" class="filter_major">- Information Systems</a></li>

			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_computerscience_major/" class="filter_major">- Computer Science</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_computationalandsimsci_major/" class="filter_major">- Computational and Sim Sci</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_technologyinnovationanddesign/" class="filter_major">- Technology Inn. and Design</a></li>

			
		<br>
			
			<p style="color: white; font-weight: bold; margin-left: 2vw; font-size: 1.7vh;">QUT IT Minors</p><br>
			<div style="height: 13vh; overflow: auto; min-width: 240px; width: 15.5vw;">
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_bpm/" class="filter_major">- BPM</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_computerscience_mnr/" class="filter_major">- Computer Science</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_computerandsimsci/" class="filter_major">- Computer and Sim Sci</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_datacentriccomputingextension/" class="filter_major">- Data-Centric Computing</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_enterprisesystems/" class="filter_major">- Enterprise Systems</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_intelligientsystems/" class="filter_major">- Intelligient Systems</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_mobileapps/" class="filter_major">- Mobile Apps</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_networkandsecurity/" class="filter_major">- Network and Security</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_softwaredevelopmentforis/" class="filter_major">- Software Devlopment for IS</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_technologyinnovation/" class="filter_major">- Technology Innovation</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_userexperience/" class="filter_major">- User Experience</a></li>
			
			
			
		
			</div>
			<br>
			
			<p style="color: white; font-weight: bold; margin-left: 2vw; font-size: 1.7vh;">QUT IT Units/Skillset</p><br>
			<div style="height: 13vh; overflow: auto; min-width: 240px; width: 15.5vw;">
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_artificialIntelligience_skill/" class="filter_major">- Artificial Intelligience</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_analysis_skill/" class="filter_major">- Analysis</a></li>
			
		    <li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_cloudcomputing_skill/" class="filter_major">- Cloud Computing</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_database_skill/" class="filter_major">- Database</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_design_skill/" class="filter_major">- Design</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_enterprisearchitecture_skill/" class="filter_major">- Enterprise Architecture</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_system administration_skill/" class="filter_major">- System Administration</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_gamesdevelopment_skill/" class="filter_major">- Games Development</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_hardware_skill/" class="filter_major">- Hardware</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_itconsulting_skill/" class="filter_major">- IT Consulting</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_itfundamentals_skill/" class="filter_major">- IT Fundamentals</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_Modelling_skill/" class="filter_major">- Modelling</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_networking_skill/" class="filter_major">- Networking</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_programming_skill/" class="filter_major">- Programming</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_projectmanagement_skill/" class="filter_major">- Project Management</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_security_skill/" class="filter_major">- Security</a></li>
			
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_socialmedia_skill/" class="filter_major">- Social Media</a></li>
			<li style="width: 14.5vw; min-width: 200px;"><a href="/job_search_webdevelopment_skill/" class="filter_major">- Web Development</a></li>
			
			</div>
			
			</div>
			
			</div>
			

{% endblock %}	