{% block content %}

	<canvas id="JobsMajorAnalyse" height="400px" width ="800px"></canvas>

	<div style="height: 7vw; overflow: auto; padding: 20px;">
	
	<input type="button" value="General View" onclick="GeneralView_JMB()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">
	<input type="button" value="Information Systems" onclick="InformationSystems_JMB()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">
	<input type="button" value="Computer Science" onclick="ComputerScience_JMB()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">
	<input type="button" value="Combination" onclick="Combination_JMB()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">
	
	</div>

	<script>
	
	console.log(Chart.defaults.global);
	console.log(Chart.defaults);
	
	Chart.defaults.scale.ticks.beginAtZero = true;
		
	var JobsMajorAnalyse = document.getElementById("JobsMajorAnalyse");
	var myJobsMajorAnalyse = new Chart(JobsMajorAnalyse, {
    type: 'pie',
	data: {
		labels: ["Information Systems", "Computer Science", "Combination"],
        datasets: 
			[{
				label: 'Frequency',
				backgroundColor: ["#02365f", "#1198f9", "#b2d9f5"],
				data: [{{pieChartA.information_system}}, 807, {{pieChartA.combination}}],
			}]
		},
		options: {
			animation: {
			  animateRotate: true,
			  animateScale: true,
			}
		}
	});
	
	function GeneralView_JMB(){
	  myJobsMajorAnalyse.destroy();
	  myJobsMajorAnalyse = new Chart(JobsMajorAnalyse, {
      type: 'pie',
	  data: {
		labels: ["Information Systems", "Computer Science", "Combination"],
        datasets: 
			[{
				label: 'Frequency',
				backgroundColor: ["#02365f", "#1198f9", "#b2d9f5"],
				data: [{{pieChartA.information_system}}, 807, {{pieChartA.combination}}],
			}]
		},
		options: {
			animation: {
			  animateRotate: true,
			  animateScale: true,
			}
		}
	  });
	  myJobsMajorAnalyse.update();
	  };
	  
	function InformationSystems_JMB(){
	  myJobsMajorAnalyse.destroy();
	  myJobsMajorAnalyse = new Chart(JobsMajorAnalyse, {
      type: 'pie',
	  data: {
		labels: ["Analysis", "CIO/Management", "Enterprise Architecture", "Consulting", "Project Management", "Sales", "Teachers/Trainers"],
        datasets: 
			[{
				label: 'Frequency',
				backgroundColor: ["#02365f", "#01467d", "#0e63a7", "#126fcd", "#1198f9", "#5eb5f4", "#95cdf6"],
				data: [{{pieChartA.analysis}}, {{pieChartA.management}}, {{pieChartA.enterprise_architecture}}, {{pieChartA.consulting}}, {{pieChartA.project_management}}, {{pieChartA.sales}}, {{pieChartA.teachers}}],
			}]
		},
		options: {
			animation: {
			  animateRotate: true,
			  animateScale: true,
			}
		}
	  });
	  myJobsMajorAnalyse.update();
	  };
	  
	function ComputerScience_JMB(){
	  myJobsMajorAnalyse.destroy();
	  myJobsMajorAnalyse = new Chart(JobsMajorAnalyse, {
      type: 'pie',
	  data: {
		labels: ["Hardware Specialist", "IT Support", "Programming", "Testers", "Web Development"],
        datasets: 
			[{
				label: 'Frequency',
				backgroundColor: ["#02365f", "#0e63a7", "#1198f9", "#5eb5f4", "#b2d9f5"],
				data: [{{pieChartA.hardware_specialist}}, {{pieChartA.it_support}}, {{pieChartA.programming}}, {{pieChartA.testers}}, {{pieChartA.web_development}}],
			}]
		},
		options: {
			animation: {
			  animateRotate: true,
			  animateScale: true,
			}
		}
	  });
	  myJobsMajorAnalyse.update();
	  };
	  
	function Combination_JMB(){
	  myJobsMajorAnalyse.destroy();
	  myJobsMajorAnalyse = new Chart(JobsMajorAnalyse, {
      type: 'pie',
	  data: {
		labels: ["Database", "Design", "Games", "Internship/WorkExp", "Networking", "Security", "System Administration", "Virtualisation/Cloud"],
        datasets: 
			[{
				label: 'Frequency',
				backgroundColor: ["#02365f", "#01467d", "#0e63a7", "#126fcd", "#1198f9", "#5eb5f4", "#95cdf6", "#b2d9f5"],
				data: [{{pieChartA.database}}, {{pieChartA.design}}, {{pieChartA.games}}, {{pieChartA.internship}}, {{pieChartA.networking}}, {{pieChartA.security}}, {{pieChartA.system_administration}}, {{pieChartA.cloud}}],
			}]
		},
		options: {
			animation: {
			  animateRotate: true,
			  animateScale: true,
			}
		}
	  });
	  myJobsMajorAnalyse.update();
	  };
	</script>

{% endblock %}	