{% block content %}

<div class="ridge">
<h3 class="about">Privacy Policy</h3>

<p>
Last updated: August 12, 2017<br><br>

This Privacy Policy has been compiled to address concerns about user information collection. Please read this carefully to understand our current stance on user infromation colection.<br><br>

User information is not collected or disseminated to third parties, this includes cookies. This may be subject to chnage if new features are developed for this web tool. If that is the case notifications shall be present over the site to alert visitors to the impending change 15 days beforehand and 15 days afterward.<br><br>
</p>
</div>

{% endblock %}	