{% extends "project/header.html" %}

{% block content %}

<p>IFB399 Capstone Project Phase 2 - Insight into the Job market for Brisbane IT Graduates<p>
{% include "project/includes/htmlsnippet.html" %}

<br>

<p>QUT’s Bachelor of Information Technology requires graduates to finish one of two majors, Information Systems the non-technical major or Computer Sciences the technically focused major. This divide was introduced as recognition to the emerging roles of business analysts, consultants and managers in the technology industry. However it has been found when applying for graduate jobs in the IT industry the roles applied for often require a mix of skills from both majors. This website aggregates job listings from SEEK and shows users what QUT units would be needed to be an effective employee.</p>

{% endblock %}