{% extends "project/header.html" %}

{% block content %}
	{% for job_post in object_list %}
		<div style="float: center; background-color: #ffffff; margin: 10px, 10px, 10px, 10px; height: 85px; width: auto; border: 1px; border-style: solid; border-color: #01467d; box-shadow: 3px 3px 5px; overflow: auto; ">
		<p class="Jobname_1" style="margin-left: 14px; display: inline; color: #01467d; font-weight: bold; font-size: 15px;">Job Name </p> <p class="companyname_1" style="display: inline;  color: #282828; font-weight: bold; font-size: 15px">- Employer Name</p> 
		<div style="float: center; background-color: #282828; margin-top: 1px; margin-left: 9px; margin-right: 9px; height: 1px; width: auto;">
		</div>
		<p class="description_1" style="display: block; margin-top: 4px; margin-bottom: 5px; margin-left: 13px; margin-right: 13px; color: #282828; font-weight: bold; font-size: 12px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<h5>{{ job_post.date|date:"Y-m-d" }}<a href=
		"/job_search/{{job_post.id}}"> {{ job_post.title }}</a></h5>			
		</div><br>
		
		
		<div style="float: center; background-color: #e3e3e3; margin: 10px, 10px, 10px, 10px; height: 85px; width: auto; border: 1px; border-style: solid; border-color: #01467d; box-shadow: 3px 3px 5px; overflow: auto; ">
		<p class="Jobname_1" style="margin-left: 14px; display: inline; color: #01467d; font-weight: bold; font-size: 15px;">Job Name </p> <p class="companyname_1" style="display: inline;  color: #282828; font-weight: bold; font-size: 15px">- Employer Name</p> 
		<div style="float: center; background-color: #282828; margin-top: 1px; margin-left: 9px; margin-right: 9px; height: 1px; width: auto;">
		</div>
		<p class="description_1" style="display: block; margin-top: 4px; margin-bottom: 5px; margin-left: 13px; margin-right: 13px; color: #282828; font-weight: bold; font-size: 12px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>		
		</div><br>
		
		<div style="float: center; background-color: #ffffff; margin: 10px, 10px, 10px, 10px; height: 85px; width: auto; border: 1px; border-style: solid; border-color: #01467d; box-shadow: 3px 3px 5px; overflow: auto; ">
		<p class="Jobname_1" style="margin-left: 14px; display: inline; color: #01467d; font-weight: bold; font-size: 15px;">Job Name </p> <p class="companyname_1" style="display: inline;  color: #282828; font-weight: bold; font-size: 15px">- Employer Name</p> 
		<div style="float: center; background-color: #282828; margin-top: 1px; margin-left: 9px; margin-right: 9px; height: 1px; width: auto;">
		</div>
		<p class="description_1" style="display: block; margin-top: 4px; margin-bottom: 5px; margin-left: 13px; margin-right: 13px; color: #282828; font-weight: bold; font-size: 12px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>			
		</div><br>
		
		
		<div style="float: center; background-color: #e3e3e3; margin: 10px, 10px, 10px, 10px; height: 85px; width: auto; border: 1px; border-style: solid; border-color: #01467d; box-shadow: 3px 3px 5px; overflow: auto; ">
		<p class="Jobname_1" style="margin-left: 14px; display: inline; color: #01467d; font-weight: bold; font-size: 15px;">Job Name </p> <p class="companyname_1" style="display: inline;  color: #282828; font-weight: bold; font-size: 15px">- Employer Name</p> 
		<div style="float: center; background-color: #282828; margin-top: 1px; margin-left: 9px; margin-right: 9px; height: 1px; width: auto;">
		</div>
		<p class="description_1" style="display: block; margin-top: 4px; margin-bottom: 5px; margin-left: 13px; margin-right: 13px; color: #282828; font-weight: bold; font-size: 12px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>		
		</div><br>
		
		
		<div style="float: center; background-color: #ffffff; margin: 10px, 10px, 10px, 10px; height: 85px; width: auto; border: 1px; border-style: solid; border-color: #01467d; box-shadow: 3px 3px 5px; overflow: auto; ">
		<p class="Jobname_1" style="margin-left: 14px; display: inline; color: #01467d; font-weight: bold; font-size: 15px;">Job Name </p> <p class="companyname_1" style="display: inline;  color: #282828; font-weight: bold; font-size: 15px">- Employer Name</p> 
		<div style="float: center; background-color: #282828; margin-top: 1px; margin-left: 9px; margin-right: 9px; height: 1px; width: auto;">
		</div>
		<p class="description_1" style="display: block; margin-top: 4px; margin-bottom: 5px; margin-left: 13px; margin-right: 13px; color: #282828; font-weight: bold; font-size: 12px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>			
		</div><br>
		
		
		<div style="float: center; background-color: #e3e3e3; margin: 10px, 10px, 10px, 10px; height: 85px; width: auto; border: 1px; border-style: solid; border-color: #01467d; box-shadow: 3px 3px 5px; overflow: auto; ">
		<p class="Jobname_1" style="margin-left: 14px; display: inline; color: #01467d; font-weight: bold; font-size: 15px;">Job Name </p> <p class="companyname_1" style="display: inline;  color: #282828; font-weight: bold; font-size: 15px">- Employer Name</p> 
		<div style="float: center; background-color: #282828; margin-top: 1px; margin-left: 9px; margin-right: 9px; height: 1px; width: auto;">
		</div>
		<p class="description_1" style="display: block; margin-top: 4px; margin-bottom: 5px; margin-left: 13px; margin-right: 13px; color: #282828; font-weight: bold; font-size: 12px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>		
		</div><br>
		
		
		<div style="float: center; background-color: #ffffff; margin: 10px, 10px, 10px, 10px; height: 85px; width: auto; border: 1px; border-style: solid; border-color: #01467d; box-shadow: 3px 3px 5px; overflow: auto; ">
		<p class="Jobname_1" style="margin-left: 14px; display: inline; color: #01467d; font-weight: bold; font-size: 15px;">Job Name </p> <p class="companyname_1" style="display: inline;  color: #282828; font-weight: bold; font-size: 15px">- Employer Name</p> 
		<div style="float: center; background-color: #282828; margin-top: 1px; margin-left: 9px; margin-right: 9px; height: 1px; width: auto;">
		</div>
		<p class="description_1" style="display: block; margin-top: 4px; margin-bottom: 5px; margin-left: 13px; margin-right: 13px; color: #282828; font-weight: bold; font-size: 12px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>			
		</div><br>
		
		
		<div style="float: center; background-color: #e3e3e3; margin: 10px, 10px, 10px, 10px; height: 85px; width: auto; border: 1px; border-style: solid; border-color: #01467d; box-shadow: 3px 3px 5px; overflow: auto; ">
		<p class="Jobname_1" style="margin-left: 14px; display: inline; color: #01467d; font-weight: bold; font-size: 15px;">Job Name </p> <p class="companyname_1" style="display: inline;  color: #282828; font-weight: bold; font-size: 15px">- Employer Name</p> 
		<div style="float: center; background-color: #282828; margin-top: 1px; margin-left: 9px; margin-right: 9px; height: 1px; width: auto;">
		</div>
		<p class="description_1" style="display: block; margin-top: 4px; margin-bottom: 5px; margin-left: 13px; margin-right: 13px; color: #282828; font-weight: bold; font-size: 12px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>		
		</div><br>
		
		
		<div style="float: center; background-color: #ffffff; margin: 10px, 10px, 10px, 10px; height: 85px; width: auto; border: 1px; border-style: solid; border-color: #01467d; box-shadow: 3px 3px 5px; overflow: auto; ">
		<p class="Jobname_1" style="margin-left: 14px; display: inline; color: #01467d; font-weight: bold; font-size: 15px;">Job Name </p> <p class="companyname_1" style="display: inline;  color: #282828; font-weight: bold; font-size: 15px">- Employer Name</p> 
		<div style="float: center; background-color: #282828; margin-top: 1px; margin-left: 9px; margin-right: 9px; height: 1px; width: auto;">
		</div>
		<p class="description_1" style="display: block; margin-top: 4px; margin-bottom: 5px; margin-left: 13px; margin-right: 13px; color: #282828; font-weight: bold; font-size: 12px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>			
		</div><br>
		
		
		<div style="float: center; background-color: #e3e3e3; margin: 10px, 10px, 10px, 10px; height: 85px; width: auto; border: 1px; border-style: solid; border-color: #01467d; box-shadow: 3px 3px 5px; overflow: auto; ">
		<p class="Jobname_1" style="margin-left: 14px; display: inline; color: #01467d; font-weight: bold; font-size: 15px;">Job Name </p> <p class="companyname_1" style="display: inline;  color: #282828; font-weight: bold; font-size: 15px">- Employer Name</p> 
		<div style="float: center; background-color: #282828; margin-top: 1px; margin-left: 9px; margin-right: 9px; height: 1px; width: auto;">
		</div>
		<p class="description_1" style="display: block; margin-top: 4px; margin-bottom: 5px; margin-left: 13px; margin-right: 13px; color: #282828; font-weight: bold; font-size: 12px">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>		
		</div><br>
		
		
		
		
		
		
		
		
		
		
	{% endfor %}
{% endblock %}