{% extends "project/header.html" %}
{% block content %}

<div class="container-fluid" style="width: auto; padding-right: 30px; overflow: auto; height: 90vh;">
  <div class="col-sm-12">
  	<center>
    <div class="ridge" style="height:30%; width:30%; max-height:50%; max-width:50%; float: left;">

	{% include "analysis/includes/ITJobs_(LineChart).html" %}	
	
	</div>
	
	
    <div class="ridge" style="height:30%; width:30%; max-height:50%; max-width:50%; float: right;">

	{% include "analysis/includes/JobsMajorBreakdown_(PieChart).html" %}	
		
    </div>
 
	
    <div class="ridge" style="height:30%; width:30%; max-height:50%; max-width:50%; float: center;">

	{% include "analysis/includes/SkillsDemand_(BarChart).html" %}	
	  
    </div>
	</center>
  </div>
</div>

{% endblock %}
