{% extends "project/header.html" %}
{% block content %}

<div class="container-fluid" style="width: auto; padding-right: 30px; height: 90vh;">
  <div class="col-sm-12">
  	<center>
    <div class="ridge" style="min-height:200px; min-width:400px; float: center;" id="LineChart">

	{% include "analysis/includes/ITJobs_(LineChart).html" %}	
	</div>
	<hr>
   <div class="ridge" style="min-height:200px; min-width:400px; float: center;" id="PieChart">

	{% include "analysis/includes/JobsMajorBreakdown_(PieChart).html" %}	
		
    </div>
	<hr>
   <div class="ridge" style="min-height:200px; min-width:400px; float: center;" id="BarChart">

	{% include "analysis/includes/SkillsDemand_(BarChart).html" %}	
	  
    </div>
	</center>
  </div>
  <hr>
</div>

{% endblock %}
