{% extends "project/header.html" %}
{% block content %}

<style>
	.analysis_dropdown {
	background-color: #01467d; !important}
	.filter_analysis_2 {
	background-color: #01467d; !important}
</style>

<div class="container-fluid">
  <div class="col-sm-12">

	<div class="ridge">

	<h3 class="about">Brisbane IT Jobs Filtered by Skill Breakdown of QUT Majors</h3>
    <p>
	Here you will be able to view a comparison of what skills are required for the IT jobs listed in the current month. Feel free to hover each section of the chart to view the exact number of jobs provided that. Filters are also provided for further analysis.
	<br><br>
	<strong>General View</strong> shows the total amount of IT jobs provided in the current month filtered by QUT majors.
	<br>
	<strong>Information Systems</strong> shows the amount of IT jobs provided in the current month filtered by skills taught in information systems <strong>ONLY</strong>.
	<br>
	<strong>Computer Science</strong> shows the amount of IT jobs provided in the current month filtered by skills taught in computer science <strong>ONLY</strong>.
	<br>
	<strong>Combination</strong> shows the amount of IT jobs provided in the current month filtered by skills that requires both information systems and computer science knowledge.
	<br><br>
	<strong>NOTE:</strong> As this website has only just been launched, the current chart will only show data from the current month. As we collect more data in the future, further information will be presented on this chart. Last Updated: October 26, 2017.
	</p>
	
	</div>
	<br>
	
  	<center>
    <div class="ridge" style="min-height:200px; min-width:400px; float: center;" id="PieChart">

	{% include "analysis/includes/JobsMajorBreakdown_(PieChart).html" %}	
		
    </div>
	</center>
  </div>
  <hr>
</div>

{% endblock %}