{% extends "project/header.html" %}
{% block content %}

<div class="container-fluid" style="width: auto; padding-right: 30px; height: 90vh;">
  <div class="col-sm-12">

	<div class="ridge">

	<h3 class="about">Brisbane IT Jobs Filtered by QUT Majors</h3>
    <p>
	
	Here you will find our interactive charts (visualisation tools).
	
	<br><br>
	
	</div>
	<hr>
	
  	<center>
    <div class="ridge" style="min-height:200px; min-width:400px; float: center;" id="PieChart">

	{% include "analysis/includes/JobsMajorBreakdown_(PieChart).html" %}	
		
    </div>
	</center>
  </div>
  <hr>
</div>

{% endblock %}