{% extends "project/header.html" %}
{% block content %}

<style>
	.analysis_dropdown {
	background-color: #01467d; !important}
	.filter_analysis_3 {
	background-color: #01467d; !important}
</style>


<div class="container-fluid">
  <div class="col-sm-12">

	<div class="ridge">

	<h3 class="about">Brisbane IT Jobs Filtered by Skills Demand - Create Your Own Chart</h3>
    <p>
	
	Here you will be able to view the amount of IT jobs filtered by skills in the current month. Create your own chart by clicking on each filters! Filters can be used more than once. Feel free to hover each section of the chart to view the exact number of jobs provided. 
	
	<br><br>
	
	The following are important information on what skills are used in what IT jobs:
	
	<br><br>
	
	<strong>Analysis</strong> - Business intelligence (BI), Business Analyst (BA), Technical Analyst, Systems Analyst, Support Analyst, Application Analyst <br>
	<strong>CIO/Management</strong> - Chief Information Officer (CIO), Business Development Manager, Technology Lead, Policy Officer, Chief Technology Officer (CTO) <br>
	<strong>Database</strong> - Database Administrator (DBA), Data Warehouse, Database Developer, SQL, Data Management, Database Engineer <br>
	<strong>Design</strong> - Designer, User Experience Designer (UX), User Interface Designer (UI), Design Engineer, Graphic Designer <br>
	<strong>Enterprise Architecture</strong> - Enterprise Architect, Solutions Architect, Domain Architect, Technical Architect <br>
	<strong>Games</strong> - Game, Games Developer, Games Designer, Games Illustrator/Artist <br>
	<strong>Hardware Specalist</strong> - Hardware Engineer, Embedded Systems Engineer, Electronics Engineer, Electronics Technician <br>
	<strong>Internship/WorkExp</strong> - Internship, Work Experience, Student Program <br>
	<strong>Consulting</strong> - Consultant, Technical Consultant, Senior Consultant, ERP Consultant, Infrastructure Consultant, SAP Consultant <br>
	<strong>IT Support</strong> - Desktop Support Level 1, Support Technician, Application Support Specialist, Help Desk Support, IT Support, Service Desk Analyst <br>
	<strong>Networking</strong> - Network Designer, Network Engineer, Network Administrator, Field Network Technician, Radio Communications, Telecommunications, Infrastructure Engineer, Network Architect <br>
	<strong>Programming</strong> - Java Developer, Embedded Software Engineer, Software Developer, Senior Developer, Full Stack Engineer, Software Engineer, Applications Developer, C# Developer, C++ Developer, Programmer <br>
	<strong>Project Management</strong> - ICT Project Manager, Senior ERP Project Manager, Project Coordinator, Program Delivery Lead, Deployment Officer, Site Supervisor <br>
	<strong>Sales</strong> - Sales Solutions Specialist, Sales Manager, Field Sales Representative, Sales Administrator, Sales Specialists <br>
	<strong>Security</strong> - Information Security Manager, Security Management Officer, Information Security Analyst, Cyber Security Engineer, Security Technical Consultant, Information Security Specialist, Security Advisor <br>
	<strong>System</strong>  Administration - Systems Engineer, Systems Administrator, Systems Manager, Platform Manager, SharePoint Administrator <br>
	<strong>Teachers/Trainers</strong> - Software Development Trainer, Teacher, Lecturer, ICT Trainer, Telecommunications Trainer <br>
	<strong>Testers</strong> - Automation Tester, Test Lead, Test Manager, Test Analyst, Test Engineer, Performance Tester, Test Co-ordinator, Software Tester <br>
	<bstrong>Virtualisation/Cloud</strong> - VMware Engineer, Cloud Engineer, Storage & Virtualisation, Cloud Services Administrator, Azure Cloud Engineer <br>
	<strong>Web Development</strong> - Web UI Developer, Web Developer, Web App Developer, Web Designer, Front End Web Developer, Fullstack Web Developer <br>
	
	<br>
	
	<strong>NOTE:</strong> As this website has only just been launched, the current chart will only show data from the year 2017. As we collect more data in the future, further information will be presented on this chart. Last Updated: October 19, 2017.
	</p>
      
	</div>
	<br>
	
  	<center>
    <div class="ridge" style="min-height:200px; min-width:400px; float: center;" id="BarChart">

	{% include "analysis/includes/SkillsDemand_(BarChart).html" %}	
	  
    </div>
	</center>
  </div>
  <hr>
</div>

{% endblock %}