{% block content %}

    <h3 class="about">Welcome to our Analysis Page!</h3>
    <p>
	
	Here you will find our interactive charts (visualisation tools).
	
	<br><br>
	
	<b>Analysis</b> - Business intelligence (BI), Business Analyst (BA), Technical Analyst, Systems Analyst, Support Analyst, Application Analyst <br>
	<b>CIO/Management</b> - Chief Information Officer (CIO), Business Development Manager, Technology Lead, Policy Officer, Chief Technology Officer (CTO) <br>
	<b>Database</b> - Database Administrator (DBA), Data Warehouse, Database Developer, SQL, Data Management, Database Engineer <br>
	<b>Design</b> - Designer, User Experience Designer (UX), User Interface Designer (UI), Design Engineer, Graphic Designer <br>
	<b>Enterprise Architecture</b> - Enterprise Architect, Solutions Architect, Domain Architect, Technical Architect <br>
	<b>Games</b> - Game, Games Developer, Games Designer, Games Illustrator/Artist <br>
	<b>Hardware Specalist</b> - Hardware Engineer, Embedded Systems Engineer, Electronics Engineer, Electronics Technician <br>
	<b>Internship/WorkExp</b> - Internship, Work Experience, Student Program <br>
	<b>Consulting</b> - Consultant, Technical Consultant, Senior Consultant, ERP Consultant, Infrastructure Consultant, SAP Consultant <br>
	<b>IT Support</b> - Desktop Support Level 1, Support Technician, Application Support Specialist, Help Desk Support, IT Support, Service Desk Analyst <br>
	<b>Networking</b> - Network Designer, Network Engineer, Network Administrator, Field Network Technician, Radio Communications, Telecommunications, Infrastructure Engineer, Network Architect <br>
	<b>Programming</b> - Java Developer, Embedded Software Engineer, Software Developer, Senior Developer, Full Stack Engineer, Software Engineer, Applications Developer, C# Developer, C++ Developer, Programmer <br>
	<b>Project Management</b> - ICT Project Manager, Senior ERP Project Manager, Project Coordinator, Program Delivery Lead, Deployment Officer, Site Supervisor <br>
	<b>Sales</b> - Sales Solutions Specialist, Sales Manager, Field Sales Representative, Sales Administrator, Sales Specialists <br>
	<b>Security</b> - Information Security Manager, Security Management Officer, Information Security Analyst, Cyber Security Engineer, Security Technical Consultant, Information Security Specialist, Security Advisor <br>
	<b>System</b>  Administration - Systems Engineer, Systems Administrator, Systems Manager, Platform Manager, SharePoint Administrator <br>
	<b>Teachers/Trainers</b> - Software Development Trainer, Teacher, Lecturer, ICT Trainer, Telecommunications Trainer <br>
	<b>Testers</b> - Automation Tester, Test Lead, Test Manager, Test Analyst, Test Engineer, Performance Tester, Test Co-ordinator, Software Tester <br>
	<b>Virtualisation/Cloud</b> - VMware Engineer, Cloud Engineer, Storage & Virtualisation, Cloud Services Administrator, Azure Cloud Engineer <br>
	<b>Web Development</b> - Web UI Developer, Web Developer, Web App Developer, Web Designer, Front End Web Developer, Fullstack Web Developer <br>
	</p>

{% endblock %}	