{% block content %}

    <h3 class="about">Welcome to our Analysis Page!</h3>
    <p>
	
	Here you will find our interactive charts (visualisation tools) useful for analysing the current Brisbane IT job market.
	<br><br>
	At QUT, Information Technology students are given the option to choose from two of the available majors: Computer Science and Information Systems.
	<br><br>
	In the current version of the website, 3 charts are provided: Brisbane IT Jobs (Line Chart), Jobs Major Breakdown (Pie Chart) and Skills Demand (Bar Chart).
	</p>

{% endblock %}	