{% block content %}

	<canvas id="ITJobs" height="400px" width ="400px"></canvas>
	
	<div style="height: 7vw; overflow: auto; padding: 20px;">
	
	<input type="button" value="General View" onclick="GeneralView_ITJ()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">
	<input type="button" value="Information Systems" onclick="InformationSystem_ITJ()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">
	<input type="button" value="Computer Science" onclick="ComputerScience_ITJ()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">
	<input type="button" value="Combination" onclick="Combination_ITJ()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">

	</div>
	
	<script>
	var ITJobs = document.getElementById("ITJobs");
	var myITJobs = new Chart(ITJobs, {
    type: 'line',
    data: {
		labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: 
			[{
                label: 'Brisbane IT Jobs Listed Each Month',
				fill: true,
				lineTension: 0.1,
                backgroundColor: 'rgba(75,192,192,0.4)',
                borderColor: 'rgba(75,192,192,1)',
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: 'rgba(75,192,192,1)',
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius:5,
				pointHoverBackgroundColor: 'rgba(75,192,192,1)',
				pointHoverBorderColor: 'rgba(220,220,220,1)',
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
                data: [650, 590, 800, 810, 560, 550, 400, 500, 300, 400, 100, 300],
            }]
        },
		options: {
			scales: {
				xAxes: [{
					ticks:{
					  autoSkip: false,
					}
				}],
				yAxes: [{
					ticks:{
					  beginAtZero: true,
					}
				}]
			}	
		}
    });
	
	function GeneralView_ITJ(){
	  myITJobs.destroy();
	  myITJobs = new Chart(ITJobs, {
      type: 'line',
      data: {
		labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: 
			[{
                label: 'Brisbane IT Jobs Listed Each Month',
				fill: true,
				lineTension: 0.1,
                backgroundColor: 'rgba(75,192,192,0.4)',
                borderColor: 'rgba(75,192,192,1)',
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: 'rgba(75,192,192,1)',
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius:5,
				pointHoverBackgroundColor: 'rgba(75,192,192,1)',
				pointHoverBorderColor: 'rgba(220,220,220,1)',
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
                data: [650, 590, 800, 810, 560, 550, 400, 500, 300, 400, 100, 300],
            }]
        },
		options: {
			scales: {
				xAxes: [{
					ticks:{
					  autoSkip: false,
					}
				}],
				yAxes: [{
					ticks:{
					  beginAtZero: true,
					}
				}]
			}	
		}
      });
	  myITJobs.update();
	  };
	
	function InformationSystem_ITJ(){
	  myITJobs.destroy();
	  myITJobs = new Chart(ITJobs, {
      type: 'line',
      data: {
		labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: 
			[{
                label: 'Brisbane IT Jobs Listed Each Month',
				fill: true,
				lineTension: 0.1,
                backgroundColor: 'rgba(75,192,192,0.4)',
                borderColor: 'rgba(75,192,192,1)',
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: 'rgba(75,192,192,1)',
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius:5,
				pointHoverBackgroundColor: 'rgba(75,192,192,1)',
				pointHoverBorderColor: 'rgba(220,220,220,1)',
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
                data: [350, 290, 400, 410, 460, 150, 300, 150, 100, 200, 30, 100],
            }]
        },
		options: {
			scales: {
				xAxes: [{
					ticks:{
					  autoSkip: false,
					}
				}],
				yAxes: [{
					ticks:{
					  beginAtZero: true,
					}
				}]
			}	
		}
      });
	  myITJobs.update();
	  };
	  
	function ComputerScience_ITJ(){
	  myITJobs.destroy();
	  myITJobs = new Chart(ITJobs, {
      type: 'line',
      data: {
		labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: 
			[{
                label: 'Brisbane IT Jobs Listed Each Month',
				fill: true,
				lineTension: 0.1,
                backgroundColor: 'rgba(75,192,192,0.4)',
                borderColor: 'rgba(75,192,192,1)',
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: 'rgba(75,192,192,1)',
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius:5,
				pointHoverBackgroundColor: 'rgba(75,192,192,1)',
				pointHoverBorderColor: 'rgba(220,220,220,1)',
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
                data: [250, 340, 200, 120, 400, 320, 150, 250, 140, 200, 20, 100],
            }]
        },
		options: {
			scales: {
				xAxes: [{
					ticks:{
					  autoSkip: false,
					}
				}],
				yAxes: [{
					ticks:{
					  beginAtZero: true,
					}
				}]
			}	
		}
      });
	  myITJobs.update();
	  };
	
	function Combination_ITJ(){
	  myITJobs.destroy();
	  myITJobs = new Chart(ITJobs, {
      type: 'line',
      data: {
		labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: 
			[{
                label: 'Brisbane IT Jobs Listed Each Month',
				fill: true,
				lineTension: 0.1,
                backgroundColor: 'rgba(75,192,192,0.4)',
                borderColor: 'rgba(75,192,192,1)',
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: 'rgba(75,192,192,1)',
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius:5,
				pointHoverBackgroundColor: 'rgba(75,192,192,1)',
				pointHoverBorderColor: 'rgba(220,220,220,1)',
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
                data: [150, 190, 100, 110, 60, 50, 40, 50, 30, 40, 10, 30],
            }]
        },
		options: {
			scales: {
				xAxes: [{
					ticks:{
					  autoSkip: false,
					}
				}],
				yAxes: [{
					ticks:{
					  beginAtZero: true,
					}
				}]
			}	
		}
      });
	  myITJobs.update();
	  };
	</script>
	
{% endblock %}	