{% block content %}

	<canvas id="ITJobs" height="800px" width ="1600px"></canvas>

	<div style="height: 7vw; overflow: auto; padding: 20px;">

	<input type="button" value="General View" onclick="GeneralView_ITJ()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">
	<input type="button" value="Information Systems" onclick="InformationSystem_ITJ()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">
	<input type="button" value="Computer Science" onclick="ComputerScience_ITJ()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">
	<input type="button" value="Combination" onclick="Combination_ITJ()" style="background-color: #01467d; color: white; border-style: solid; border-color: #01467d; margin: 5px; width:10vw">

	</div>
	
	<script>
	var ITJobs = document.getElementById("ITJobs");
	var myITJobs = new Chart(ITJobs, {
    type: 'line',
    data: {
		labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: 
			[{
                label: 'Brisbane IT Jobs Listed Each Month',
				fill: true,
				lineTension: 0.1,
                backgroundColor: 'rgba(75,192,192,0.4)',
                borderColor: 'rgba(75,192,192,1)',
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: 'rgba(75,192,192,1)',
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius:5,
				pointHoverBackgroundColor: 'rgba(75,192,192,1)',
				pointHoverBorderColor: 'rgba(220,220,220,1)',
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
                data: [{{ lineChartA.a_January }}, {{ lineChartA.a_February }},  {{ lineChartA.a_March }}, {{ lineChartA.a_April }}, {{ lineChartA.a_May }}, {{ lineChartA.a_June }}, {{ lineChartA.a_July }}, {{ lineChartA.a_August }}, {{ lineChartA.a_September }}, {{ lineChartA.a_October }}, {{ lineChartA.a_November }}, {{ lineChartA.a_December }}],
            }]
        },
		options: {
			scales: {
				xAxes: [{
					ticks:{
					  autoSkip: false,
					}
				}],
				yAxes: [{
					ticks:{
					  beginAtZero: true,
					}
				}]
			}	
		}
    });
	
	function GeneralView_ITJ(){
	  myITJobs.destroy();
	  myITJobs = new Chart(ITJobs, {
      type: 'line',
      data: {
		labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: 
			[{
                label: 'Brisbane IT Jobs Listed Each Month',
				fill: true,
				lineTension: 0.1,
                backgroundColor: 'rgba(75,192,192,0.4)',
                borderColor: 'rgba(75,192,192,1)',
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: 'rgba(75,192,192,1)',
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius:5,
				pointHoverBackgroundColor: 'rgba(75,192,192,1)',
				pointHoverBorderColor: 'rgba(220,220,220,1)',
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
                data: [{{ lineChartA.a_January }}, {{ lineChartA.a_February }},  {{ lineChartA.a_March }}, {{ lineChartA.a_April }}, {{ lineChartA.a_May }}, {{ lineChartA.a_June }}, {{ lineChartA.a_July }}, {{ lineChartA.a_August }}, {{ lineChartA.a_September }}, {{ lineChartA.a_October }}, {{ lineChartA.a_November }}, {{ lineChartA.a_December }}],
            }]
        },
		options: {
			scales: {
				xAxes: [{
					ticks:{
					  autoSkip: false,
					}
				}],
				yAxes: [{
					ticks:{
					  beginAtZero: true,
					}
				}]
			}	
		}
      });
	  myITJobs.update();
	  };
	
	function InformationSystem_ITJ(){
	  myITJobs.destroy();
	  myITJobs = new Chart(ITJobs, {
      type: 'line',
      data: {
		labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: 
			[{
                label: 'Brisbane IT Jobs Listed Each Month',
				fill: true,
				lineTension: 0.1,
                backgroundColor: 'rgba(75,192,192,0.4)',
                borderColor: 'rgba(75,192,192,1)',
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: 'rgba(75,192,192,1)',
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius:5,
				pointHoverBackgroundColor: 'rgba(75,192,192,1)',
				pointHoverBorderColor: 'rgba(220,220,220,1)',
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
                data: [{{ lineChartB.a_January }}, {{ lineChartB.a_February }},  {{ lineChartB.a_March }}, {{ lineChartB.a_April }}, {{ lineChartB.a_May }}, {{ lineChartB.a_June }}, {{ lineChartB.a_July }}, {{ lineChartB.a_August }}, {{ lineChartB.a_September }}, {{ lineChartB.a_October }}, {{ lineChartB.a_November }}, {{ lineChartB.a_December }}],
            }]
        },
		options: {
			scales: {
				xAxes: [{
					ticks:{
					  autoSkip: false,
					}
				}],
				yAxes: [{
					ticks:{
					  beginAtZero: true,
					}
				}]
			}	
		}
      });
	  myITJobs.update();
	  };
	  
	function ComputerScience_ITJ(){
	  myITJobs.destroy();
	  myITJobs = new Chart(ITJobs, {
      type: 'line',
      data: {
		labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: 
			[{
                label: 'Brisbane IT Jobs Listed Each Month',
				fill: true,
				lineTension: 0.1,
                backgroundColor: 'rgba(75,192,192,0.4)',
                borderColor: 'rgba(75,192,192,1)',
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: 'rgba(75,192,192,1)',
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius:5,
				pointHoverBackgroundColor: 'rgba(75,192,192,1)',
				pointHoverBorderColor: 'rgba(220,220,220,1)',
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
                data: [{{ lineChartC.a_January }}, {{ lineChartC.a_February }},  {{ lineChartC.a_March }}, {{ lineChartC.a_April }}, {{ lineChartC.a_May }}, {{ lineChartC.a_June }}, {{ lineChartC.a_July }}, {{ lineChartC.a_August }}, {{ lineChartC.a_September }}, {{ lineChartC.a_October }}, {{ lineChartC.a_November }}, {{ lineChartC.a_December }}],
            }]
        },
		options: {
			scales: {
				xAxes: [{
					ticks:{
					  autoSkip: false,
					}
				}],
				yAxes: [{
					ticks:{
					  beginAtZero: true,
					}
				}]
			}	
		}
      });
	  myITJobs.update();
	  };
	
	function Combination_ITJ(){
	  myITJobs.destroy();
	  myITJobs = new Chart(ITJobs, {
      type: 'line',
      data: {
		labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        datasets: 
			[{
                label: 'Brisbane IT Jobs Listed Each Month',
				fill: true,
				lineTension: 0.1,
                backgroundColor: 'rgba(75,192,192,0.4)',
                borderColor: 'rgba(75,192,192,1)',
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: 'rgba(75,192,192,1)',
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius:5,
				pointHoverBackgroundColor: 'rgba(75,192,192,1)',
				pointHoverBorderColor: 'rgba(220,220,220,1)',
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
                data: [{{ lineChartD.a_January }}, {{ lineChartD.a_February }},  {{ lineChartD.a_March }}, {{ lineChartD.a_April }}, {{ lineChartD.a_May }}, {{ lineChartD.a_June }}, {{ lineChartD.a_July }}, {{ lineChartD.a_August }}, {{ lineChartD.a_September }}, {{ lineChartD.a_October }}, {{ lineChartD.a_November }}, {{ lineChartD.a_December }}],
            }]
        },
		options: {
			scales: {
				xAxes: [{
					ticks:{
					  autoSkip: false,
					}
				}],
				yAxes: [{
					ticks:{
					  beginAtZero: true,
					}
				}]
			}	
		}
      });
	  myITJobs.update();
	  };
	</script>
	
{% endblock %}	